device: gpu
gpu_platform_id: 0
gpu_device_id: 0

task: train
objective: regression
metric: rmse
boosting_type: gbdt

learning_rate: 0.005
n_estimators: 8000

num_leaves: 2048
max_depth: -1
max_bin: 511

feature_fraction: 0.95
bagging_fraction: 0.90
bagging_freq: 1

min_data_in_leaf: 20

lambda_l1: 0.0
lambda_l2: 1.0
min_gain_to_split: 0.0

two_round: True
boost_from_average: False
verbosity: -1
